<!-- Navbar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">The Gilded Age</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">  
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Season 1</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="s1e1">Episode 1</a></li>
            <li><a class="dropdown-item" href="#">Episode 2</a></li>
            <li><a class="dropdown-item" href="#">Episode 3</a></li>
            <li><a class="dropdown-item" href="#">Episode 4</a></li>
            <li><a class="dropdown-item" href="#">Episode 5</a></li>
            <li><a class="dropdown-item" href="#">Episode 6</a></li>
            <li><a class="dropdown-item" href="#">Episode 7</a></li>
            <li><a class="dropdown-item" href="#">Episode 8</a></li>
            <li><a class="dropdown-item" href="#">Episode 9</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Season 2</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Episode 1</a></li>
            <li><a class="dropdown-item" href="#">Episode 2</a></li>
            <li><a class="dropdown-item" href="#">Episode 3</a></li>
            <li><a class="dropdown-item" href="#">Episode 4</a></li>
            <li><a class="dropdown-item" href="#">Episode 5</a></li>
            <li><a class="dropdown-item" href="#">Episode 6</a></li>
            <li><a class="dropdown-item" href="#">Episode 7</a></li>
            <li><a class="dropdown-item" href="#">Episode 8</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>